@import url("https://fonts.cdnfonts.com/css/google-sans");
* {
  font-family: "Product Sans", sans-serif;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

body {
  margin: 0;
  background-color: rgb(4, 151, 243);
  color: white;
  margin: 0px;
  border: 0px;
}

h1 {
  font-size: 35px;
  font-weight: 300px;
}

p{
  font-size: 20px;
}

#mn {
  color: black;
  font-size: large;

  margin: 20px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: grey;
  position: static;
}
.navbar-left {
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo-image {
  height: 100px;
}
.navbar-right {
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.a-element {
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
}
.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 85vh;
  color: rgb(243, 238, 238);
}
.home-left {
  width: 50vw;
  text-align: center;
  padding-left: 200px;
}
.home-right {
  width: 50vw;
  padding: 100px;
  border: 5px black;
  border-radius: 100px;
  padding-top: 100px;
}
#main-image {
  height: 500px;
  width: 500px;
  border-radius: 300px;
}
#main-image:hover {
  transform: scale(1.05);
}
.social-icon-img {
  height: 50px;
  padding: 20px;
}
.social-icons {
  text-align: center;
}
.contact {
  text-align: center;
}
.contact-info {
  font-size: 25px;
}
.projects {
  display: flex;
  background-color: grey;
  border: 3px solid black;
  height: 100px;
  border-radius: 10px;
  text-align: center;
  margin: 30px;
}
.project {
  padding: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  font-weight: bold;
  gap: 150px;
}
#scale:hover {
  transform: scale(1.05);
  cursor: blue;
}
button {
  height: 50px;
  width: 150px;
  border: 3px solid black;
  border-radius: 100px;
  font-family: "Product Sans", sans-serif;
  font-size: medium;
  background-color: rgb(217, 216, 215);
}
#occupation {
  font-size: 60px;
  color: rgb(238, 7, 142);
  -webkit-text-stroke: 1px black;
}

footer {
  background-color: white;
}
#resume {
  background-color: aquamarine;
}
button:hover {
  size: 5px;
}

.softwares {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-left: 10px;
}
.certicates {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-left: 10px;
  justify-content: center;
  text-align: center;
}
.certicates h2 {
  color: rgb(249, 247, 247);
  font-size: 40px;
  text-decoration: underline;
  letter-spacing: 2px;
}
#card {
  border: 2px solid black;
  background-color: gray;
  border-radius: 30px;
}

#card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 10px 10px black;
}
.skill-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 100%;
  gap: 30px;
  text-align: center;
  padding: 70px;
  padding-left: 90px;
}
#skill-logo {
  height: 270px;
  width: 270px;
  padding: 20px;
}

.skill-card p {
  font-size: 30px;
  color: black;
  font-weight: 30px;
}

h1 {
  text-align: center;
  font-size: 50px;
}

h1:hover {
  background-clip: none;
}

#project-image {
  height: 300px;
  width: 500px;
}

.project-page {
  width: 100%;
  padding: 10px;
}
.project-content {
  background: #920eeb;
  background: #920eeb;
  background: #0e20eb;
  background: linear-gradient(
    90deg,
    rgba(14, 32, 235, 1) 16%,
    rgba(181, 22, 162, 1) 100%,
    rgba(188, 25, 33, 1) 65%,
    rgba(253, 29, 29, 1) 56%,
    rgba(252, 176, 69, 1) 36%
  );
  width: 490px;
  color: white;
  height: 150px;
  border: 1px solid;
  padding-left: 10px;
  margin: 0px;
}

.project-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 100%;
  gap: 150px;
  text-align: left;
  padding: 150px;
  flex-wrap: wrap;
  border-radius: 25px;
}
.project-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}

.pr:hover {
  transform: scale(1.05);
}

a {
  border-radius: 50px;
  text-decoration: none;
}

#resume {
  border: 2px solid black;
  padding: 10px;
  font-size: x-large;
  color: black;
  background-color: #920eeb;
}

#resume:hover {
  background-color: red;
  transform: scale(1.02);
}

.pdf {
  display: grid;
  grid-template-columns: repeat(9, 1fr); /* 9 columns */
  gap: 10px; /* spacing between buttons */
}
#mypdf {
  
  border-radius: 20px;
  margin: 25px;
  height: "100px";
  width: "100px";
}

